/* ========================================================================== */
/* Fonts                                                                      */
/* ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Yesteryear);
/* ========================================================================== */
/* OVERALL SETTINGS                                                           */
/* ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary{display:block}
audio, canvas, video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
html, button, input, select, textarea{font-family:'Nunito', sans-serif;}
html, body{overflow-x:hidden;width:100%;/*height:100%*/}
body{margin:0;font-family:'Nunito', sans-serif;}
html, html a{text-shadow:1px 1px 1px rgba(0, 0, 0, 0.004);-webkit-font-smoothing: antialiased;}
.texture-overlay{position:absolute;top:0px;left:0px;width: 100%;height:100%;background-image: url(../img/grid.png);}
header{height:100%}
.link{cursor:pointer;}
.link-menu{cursor:pointer;}
.secTitle{background:#da0068;}
.secTitle h1{color:#fff;font-weight:400;font-size:36px;padding:10px 0 15px 0;}
.secTitle h1.sdc{font-family: 'Yesteryear';}
.secTitle h1 a{color:#CCC;text-decoration:none;}
.secTitle h1 a:hover{color:#FFF;text-decoration:none;}

/* ========================================================================== */
/* NAVIGATION / MENU ICON                                                     */
/* ========================================================================== */

.nav-toggle{position:absolute;top:0;right:15px;z-index:999999;padding:10px 35px 16px 0px;cursor:pointer;}
.nav-toggle:focus{outline:none;}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after{content:'';position:absolute;display:block;width:35px;height:5px;border-radius:0;background:#fff;cursor:pointer;}
.nav-toggle span:before{top:-10px}
.nav-toggle span:after{bottom: -10px}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after{-webkit-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
.nav-toggle.active span{background-color:transparent}
.nav-toggle.active span:before, .nav-toggle.active span:after{top:0}
.nav-toggle.active span:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.nav-toggle.active span:after{top: 10px;-webkit-transform:translateY(-10px)rotate(-45deg);-ms-transform: translateY(-10px) rotate(-45deg);transform:translateY(-10px) rotate(-45deg);}
.navicon{position:relative;height:26px;}
.navicon p{margin:3px 50px 0 0}
.client-area-link{color:#FFF;padding:8px;text-decoration:none;border:1px solid white;-webkit-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
.client-area-link:hover{border-color:#da0068;color:#da0068 !important;text-decoration:none;background:rgba(255,255,255,.8);-webkit-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
.client-area-link:visited{color:#FFF;}
.client-area-link:focus{text-decoration:none !important;outline:none;}
.navicon-fixed{position:fixed;top:59px;right:143px;}

/* ========================================================================== */
/* HERO SECTION                                                               */
/* ========================================================================== */

.hero {position:relative;padding:60px 0 60px 0;height:100%;background:rgb(40, 70, 102) url('../img/hero-01.jpg') no-repeat center center;background-size:cover;color:#fff;}
.hero h1{font-family: 'Yesteryear';margin:100px 0 45px 0;font-weight: 300;font-size: 55px;}
.hero h1 span {display: inline-block;color:#a1a9b0;}
#home{width:100%;height:100%;}
.hero{width:100%;height:100%;}
header i{margin-left: 5px}

/* ========================================================================== */
/* MENU OVERLAY                                                               */
/* ========================================================================== */

.overlay{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(52, 82, 113, 0.7);z-index:9998;}
.overlay nav{position:relative;top:50%;height:60%;text-align:center;font-size:54px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.overlay ul{position:relative;display:inline-block;margin:0 auto;padding:0;list-style:none;}
.overlay ul li{display:block;float:left;margin-right:20px;}
.overlay ul li:last-child{margin-right:0}
.overlay ul li i{display:block;margin-bottom:10px;font-size:40px;}
.overlay ul li a{display:block;padding:50px 0;min-width:190px;border:2px solid #fff;border-radius:0;background-color:#345271;color:#fff;text-transform:uppercase;font-weight:400;font-size:15px;-webkit-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;text-decoration:none;}
.overlay ul li a:hover, .overlay ul li a:focus{border-color:#da0068;color:#da0068;background:rgba(255,255,255,.8);}
.overlay-boxify{visibility:hidden;opacity:0;-webkit-transition:opacity 0.2s,visibility 0s 0.5s;transition:opacity 0.5s, visibility 0s 0.5s;}
.overlay-boxify.open{visibility:visible;opacity:1;-webkit-transition:opacity 0.5s;transition:opacity 0.5s;}
.overlay-boxify nav ul li{opacity:0;-webkit-transform:translate3d(0, -80px, 0);transform:translate3d(0, -80px, 0);-webkit-transition:-webkit-transform 0.5s, opacity 0.5s;transition:transform 0.5s, opacity 0.5s;}
.overlay-boxify.open nav ul:first-child li:first-child{-webkit-transition-delay:0.05s;transition-delay:0.05s;}
.overlay-boxify.open nav ul:first-child li:nth-child(2){-webkit-transition-delay:0.1s;transition-delay: 0.1s;}
.overlay-boxify.open nav ul:nth-child(2) li:first-child{-webkit-transition-delay:0.15s;transition-delay:0.15s;}
.overlay-boxify.open nav ul:nth-child(2) li:nth-child(2){-webkit-transition-delay:0.2s;transition-delay:0.2s;}
.overlay-boxify.open nav ul li{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}

/* ========================================================================== */
/* VIDEOS BACKGROUND                                                          */
/* ========================================================================== */

.about-pre{height:500px;border-right:none;border-left:none;position:relative;}
#video-container{position:absolute;}
#video-container{top:0%;left:0%;height:100%;width:100%;overflow:hidden;}
video{position:absolute;bottom:-220px;z-index:-1000;}
video.fillWidth{width:100%;}
.video-content{z-index:1000;}
.foreground{position:absolute;top:0;width:100%;height:100%;background:rgba(255,255,255,.5);z-index:-999;}

/* ========================================================================== */
/* ABOUT SECTION                                                              */
/* ========================================================================== */

/* Slider Controls */
.flickity-page-dots .dot{width:13px;height:13px;opacity:1;background:transparent;border:2px solid white;-webkit-transition:background 0.3s;transition:background 0.3s;}
.flickity-page-dots .dot.is-selected{background: white;}

/* About Slider */
.features-intro-img{position:relative;background:url('../img/features-intro-01.jpg') no-repeat center center;background-size:cover;height:100%;width:100%;margin-bottom:50px !important;}
.features-bg{width:50%;float:left;z-index:1000;}
.features-img{width:100%;margin:0;text-align:center;}
.about-to{z-index:0;}
.features-img img{margin:60px 0 20px 0;}
.features-img h1{margin-bottom:15px !important;color:#fff;font-weight:400;font-size:45px;font-family: 'Yesteryear'}
.features-img p{padding:0 100px; text-align: justify;color:#fff;font-size:14px;}
.features-slider{position:relative;padding:11% 100px 10% 100px;background-color:rgba(63,97,132,.5);height:100%;margin:0;}
.features-slider ul{margin:0;padding:0;height:100%;list-style:none;}
.features-slider ul li{width:100%;}
.features-slider li h1{margin-bottom:15px !important;color:#fff;font-weight:400;font-size:36px;}
.features-slider li p{color:#fff;font-size:14px;}
.features-intro-img{position:relative;}
.slides li h1{margin:0;padding:0;}
.features-slider .flickity-page-dots{text-align:center;position:absolute;bottom:0;}
.features-slider .flickity-page-dots .dot{margin:0 12px 0 0;}
.aboutSlider{width:50%;float:right;}

/* ========================================================================== */
/* BUTTONS                                                                    */
/* ========================================================================== */

    /* learn-btn | download-btn */
    .learn-btn, .download-btn{display:inline-block;padding:18px 46px;border:2px solid #fff;color:#fff;font-size:16px;-webkit-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}
    .learn-btn:hover, .download-btn:hover, .learn-btn:focus, .download-btn:focus{border-color:#da0068;color:#da0068;background:rgba(255,255,255,.8);text-decoration:none;-webkit-transition:all 300ms ease-in-out;transition:all 300ms ease-in-out;}

/* ========================================================================== */
/* SERVICES                                                                   */
/* ========================================================================== */

.features-list{padding:0 0 140px 0;}
.features-list p{margin-bottom: 20px;color:#778899;}
.features-list .secTitle{margin-bottom:90px;}
.feature-content{display:inline-block;margin-left:0;width:65%;}
.feature-content h1{margin:0 0 10px 0;padding:0;color:#24374b;font-size:20px;}
.feature-icon{display:inline-block;margin-right:25px;width:90px;height:90px;border:solid 2px #da0068;border-radius:50%;vertical-align:top;text-align:center;font-size:25px;line-height:90px;}
.feature-icon i{color:#da0068}

/* ========================================================================== */
/* PROJECTS                                                                   */
/* ========================================================================== */

.projects{height:100%;}
.project{padding:50px;height:400px;}


/* ========================================================================== */
/* SHOWCASE                                                                   */
/* ========================================================================== */
.showcase {
    background: url('../img/showcase-bg-fixed-01.jpg') no-repeat center center fixed;
    background-size: cover;
}
.showcase h1 {
    margin: 0 0 20px 0;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
}
.showcase p {
    margin-bottom: 25px;
    color: #fff;
}
.device {
    position: absolute;
    top: -60px;
    left: 20%;
    min-height: 676px;
    width: 359px;
    background: url('../img/iphone-skeleton.png') no-repeat center center;
}
.device-content {
    position: absolute;
    top: 115px;
    left: 56px;
    width: 247px;
    height: 445px;
    background: rgba(0, 0, 0, 0.3);
}
.device-content img {
    width: 247px;
    height: 445px;
}
.showcase-wrap {
    position: relative;
    padding: 100px 0;
    min-height: 600px;
}
.showcase-slider ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.showcase-slider .flickity-page-dots {
    bottom: 20px;
}

/* ========================================================================== */
/* ========================================================================== */
/* ADJUST CLASSES                                                             */
/* ========================================================================== */
/* ========================================================================== */
.spacer10{display: block;height:10px;}
.spacer20{display: block;height:20px;}
.spacer30{display: block;height:30px;}
.spacer40{display: block;height:40px;}
.spacer50{display: block;height:50px;}
.spacer60{display: block;height:60px;}
.spacer70{display: block;height:70px;}
.spacer80{display: block;height:80px;}
.spacer90{display: block;height:90px;}
.spacer100{display: block;height:100px;}

/* ========================================================================== */
/* SCROLLBAR ADJUSTS                                                          */
/* ========================================================================== */
::-webkit-scrollbar{width:5px;background:rgba(0,0,0,0);}
::-webkit-scrollbar-track{-webkit-box-shadow:none;-webkit-border-radius:0;border-radius:0;background: #345271;}
::-webkit-scrollbar-thumb{-webkit-border-radius:0;border-radius:0;background:#FFF;}
::-webkit-scrollbar-thumb:window-inactive{background: rgba(0,0,0,0);}